@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

body {
    margin: 0;
    color: $light;
    background-color: $dark;
}