// COLORS

$primary: #e13e44;
$secondary: #15739a;

$light: #ecdcad;
$dark: #000;

$c1: #355d3f;
$c2: #8bb88d;
$c3: #5b4e30;
$c4: #71282f;
$c5: #cf7538;

$colors: (1: $c1, 2: $c2, 3: $c3, 4: $c4, 5: $c5, 6: $primary, 7: $secondary);

// FONTS

$thick: 500;
$reg: 400;
$thin: 300;

$xlg: 10vw;
$lg: 7vw;
$md: 3vw;
$sm: 2vw;
$xsm: 1.2vw;

// GUTTERS

$g-xlg: 6vw;
$g-lg: 3vw;
$g-md: 2vw;
$g-sm: .5vw;
$g-xsm: .3vw;

// TRANSITIONS

$slow: .4s;
$fast: .25s;

// BORDERS

$border-width: 2px;
$border: $border-width solid $light;

// SCREEN SIZES

$tablet: 768px;
$mobile: 425px;
$wide-screen: 1600px;
$wider-screen: 2200px;